/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: left;
  word-break: break-all;
}

.btn-primary {
    color: blue;
    background-color: #2C3E50;
    border-color: #1861ac;
}

button.accept-policy {
  font-size: 5rem;
  line-height: inherit;
  
}
    
.footer {
  bottom: auto;
  width: 100%;
  white-space: nowrap;
  line-height: 250px;
  
}

