@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">ASP.NET Core MVC project!</h1>
    <h2 class="display-6">
        This Movie Application leverages ASP.NET core and Entity Framework
        to create a web application that allows users to view, create, edit, and delete movies.
    </h2>
    <p>Learn about <a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-7.0&tabs=visual-studio">Using ASP.NET Core MVC web development</a>.</p>
</div>
