@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My MVC ASP.NET project!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-7.0&tabs=visual-studio">Using ASP.NET Core MVC web development</a>.</p>
</div>
